In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_pickle("listings.pkl")
list(data.columns.values)
data['region_name']
#data['region_id'].sort_values(ascending=True)
region_data = data[['region_name','price_fs']].groupby(['region_name'],as_index=False).agg({'price_fs':['mean']})
year_data = data[['year_is','price_fs']].groupby(['year_is'],as_index=False).agg({'price_fs':['mean','count']})

In [6]:
#list(data.columns.values)
#data['region_name']
region_data

             region_name      price_fs
                                  mean
0        Far West Region  17430.435611
1     Great Lakes Region  16901.520779
2         Mideast Region  17274.605753
3          Plains Region  17434.872016
4  Rocky Mountain Region  16945.440846
5       Southeast Region  16981.796688
6       Southwest Region  16838.266901

In [7]:
#df.rename(index=str, columns={"A": "a", "B": "c"})
region_data.rename(columns={"price": "price_fs"})

             region_name      price_fs
                                  mean
0        Far West Region  17430.435611
1     Great Lakes Region  16901.520779
2         Mideast Region  17274.605753
3          Plains Region  17434.872016
4  Rocky Mountain Region  16945.440846
5       Southeast Region  16981.796688
6       Southwest Region  16838.266901

In [8]:
region_data['region_name']

0          Far West Region
1       Great Lakes Region
2           Mideast Region
3            Plains Region
4    Rocky Mountain Region
5         Southeast Region
6         Southwest Region
Name: region_name, dtype: object

In [11]:
import plotly.offline as pyo
import plotly.graph_objs as go

In [12]:
#region_data.to_csv("region_data.pkl")
#listings = pd.read_pickle("listings.pkl")
region_data.to_csv("region_data.csv")

In [13]:
#df = pd.read_pickle('region_data.pkl')

In [14]:
df = pd.read_csv('region_data.csv')

In [15]:
trace = go.Bar(
    x=df['region_name'],  # Region name reprents the seven regions in the United States
    #y = df[[col for col in df.columns if col.main()]],
    y=df['price_fs'],
    name = 'price_per_region',
    marker=dict(color='rgb(51,204,53)') # set the marker color to bronze
    #marker=dict(color='#CD7F32') # set the marker color to bronze
)

In [16]:
data = [trace]
layout = go.Layout(
    title='Used cars price per region in United States',
    barmode='stack'
)
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='regions.html')

'file://C:\\Data_Science\\Project_team\\Third_Analysis\\regions.html'